$scope: layouts-auth-layout;
//just an example class, tbd
.#{$scope} {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, min-content);
  padding: 24px;
  gap: 1rem;
  margin-top: 32px;
  margin-bottom: 32px;
  white-space: nowrap;

  &-positionRelative {
    position: relative;
  }

  &-icon {
    grid-column: 1 / 3;
    justify-self: center;
  }
  &-title {
    grid-column: 1 / 3;
    justify-self: center;
  }
  &-email {
    grid-column: 1 / 3;
  }
  &-password {
    grid-column: 1 / 3;
  }
  &-resetPassword {
    grid-column: 1 / 3;
  }
  &-signUpButton {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  &-googleButton {
    display: flex;
    align-items: center;
    justify-self: end;
  }
  &-helperText {
    justify-self: start;
  }
  &-firstNameContainer {
    grid-column: 1;
  }
  &-lastNameContainer {
    grid-column: 2;
  }
}

@media (max-width: 600px) {
  .#{$scope} {
    &-firstNameContainer {
      grid-column: 1 / 3;
    }
    &-lastNameContainer {
      grid-column: 1 / 3;
    }
  }
}
