$scope: layouts-auth-layout;
//just an example class, tbd
.#{$scope} {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, min-content);
  padding: 24px;
  gap: 1rem;
  margin-top: 32px;
  margin-bottom: 32px;
  &-icon {
    grid-column: 1 / 3;
    justify-self: center;
  }
  &-title {
    grid-column: 1 / 3;
    justify-self: center;
  }
  &-email {
    grid-column: 1 / 3;
  }
  &-password {
    grid-column: 1 / 3;
  }
  &-resetPassword {
    grid-column: 1 / 3;
  }
  &-signUp {
    justify-self: center;
    grid-column: 1 / 3;
  }
  &-helperText {
    grid-column: 1 / 3;
    justify-self: center;
  }
}
