$scope: components-input;
.#{$scope} {
  position: relative;

  &-inputArea {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px var(--dark);
    border-width: 4px;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px var(--shadow);
  }
  &-inputField {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(230, 225, 225);
    outline: none;
    background-color: transparent;
    width: 100%;
  }
  &-buttonClass {
    margin-left: 24px;
  }
}
