$scope: layouts-main-layout;
.#{$scope} {
  display: grid;
  grid-template-columns: minmax(20px, 0.7fr) 1fr 1fr minmax(20px, 0.7fr);
  grid-template-rows: minmax(50px, 80px) min-content 1fr minmax(50px, 100px);
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". introHeader ."
    ". siteContent ."
    ". footer .";

  &-header {
    grid-area: 1 / 2 / 2 / 4;
  }
  &-intro {
    grid-area: 2 / 1 / 3 / 5;
  }
  &-siteContent {
    grid-area: 3 / 2 / 4/ 4;
  }
  &-footer {
    grid-area: 4 / 2 / 5 / 4;
  }
}

@media (max-width: 1200px) {
  .#{$scope} {
    grid-template-columns: minmax(50px, 10px) 1fr 1fr minmax(50px, 10px);
  }
}

@media (max-width: 440px) {
  .#{$scope} {
    grid-template-columns: minmax(5px, 15px) 1fr 1fr minmax(5px, 15px);
    grid-template-rows: minmax(50px, 100px) min-content 1fr minmax(50px, 100px);
  }
}
