$scope: layouts-search-layout;
//just an example class, tbd
.#{$scope} {
  &-searchArea {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 1em;
    margin-top: 20px;
    margin-bottom: 24px;
    grid-template-rows: min-content;
  }
  &-activeFiltersClass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
