$scope: layouts-clothes-price-layout;
//just an example class, tbd
.#{$scope} {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  padding: 30px;
  &-example {
    //define css styles here
  }
}
