$scope: layouts-intro-layout;
.#{$scope} {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ".";
  position: relative;

  &-introImage {
    background-image: url(../../public/siteImages/mainGardrobe.jpg);
    min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
  }

  &-introCard {
    width: 350px;
    position: absolute;
    left: 22%;
    top: 10%;
  }
}

@media (max-width: 600px) {
  .#{$scope} {
    &-introImage {
      min-height: 350px;
    }
    &-introCard {
      width: 70%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
@media (max-width: 460px) {
  .#{$scope} {
    &-introCard {
      width: 75%;
    }
  }
}
