$scope: components-button;
.#{$scope} {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;

  &-rounded {
    border-radius: 6px !important;
  }

  &-outline {
    background-color: transparent !important;
  }

  &-border {
    &-borderNone {
      border: none;
    }
    &-borderDotted {
      border-width: 1px;
      border-style: dotted;
      border-color: currentColor;
    }
    &-borderSolid {
      border-width: 1px;
      border-style: solid;
      border-color: currentColor;
    }
  }

  &-buttonSpinner {
    border: 2px solid transparent;
    border-top: 2px solid var(--lightColor);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 4px;
    animation: spin 1.2s linear;
    animation-iteration-count: 1;
  }

  &-iconAlignStart {
    justify-content: flex-start;
    align-content: center;
    padding-top: 5px;
  }
  &-iconAlignEnd {
    justify-content: flex-end;
  }

  &-cursor {
    cursor: default !important;
  }

  &-buttonSizes {
    &-small {
      font-size: var(--font-size-10);
      padding: 2px 14px;
    }
    &-medium {
      font-size: var(--font-size-14);
      padding: 4px 16px;
    }
    &-normal {
      font-size: var(--font-size-18);
      padding: 4px 18px;
    }
    &-large {
      font-size: var(--font-size-22);
      padding: 6px 22px;
    }
  }

  &-textColor {
    &-dark {
      color: var(--dark) !important;
    }
    &-white {
      color: var(--white) !important;
    }
    &-darkBlue {
      color: var(--darkBlue) !important;
    }
    &-currentColor {
      color: currentColor;
    }
  }

  &-color {
    &-white {
      background-color: var(--white);
      border-color: var(--white) !important;
    }
    &-dark {
      background-color: var(--dark);
      border-color: var(--dark) !important;
    }
    &-red {
      background-color: var(--red);
      border-color: var(--red) !important;
    }
    &-darkBlue {
      background-color: var(--darkBlue);
      border-color: var(--darkBlue) !important;
    }
    &-grey {
      background-color: var(--grey);
      border-color: var(--grey) !important;
    }
    &-green {
      background-color: var(--green);
      border-color: var(--green) !important;
    }
    &-orange {
      background-color: var(--orange);
      border-color: var(--orange) !important;
    }
    &-darkGreen {
      background-color: var(--darkGreen);
      border-color: var(--darkGreen) !important;
    }
    &-lightBlue {
      background-color: var(--lightBlue);
    }
  }
}
