$scope: components-site-logo;
//just an example class, tbd
.#{$scope} {
  display: flex;
  justify-content: center;
  align-items: center;

  &-background {
    &-transparent {
      background: transparent;
    }
  }
  &-cursor {
    cursor: pointer;
  }
  &-colorStyles {
    &-dark {
      color: var(--dark);
    }
    &-darkBlue {
      color: var(--darkBlue);
    }
  }
}
