$scope: layouts-user-verification-layout;
//just an example class, tbd
.#{$scope} {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1.5fr));
  gap: 0.5em;

  &-textField {
    grid-row: 1 / 2;
    margin-top: 120px;
    text-align: center;
  }
  &-buttonClass {
    display: flex;
    justify-content: center;
  }
  &-iconField {
    margin-top: 88px;
  }
  &-iconAnimation {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
  }

  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
    }
  }

  @-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
    }
  }

  @-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -o-transform: translateY(0);
    }
    40% {
      -o-transform: translateY(-30px);
    }
    60% {
      -o-transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}

@media (max-width: 700px) {
  .#{$scope} {
    &-textField {
      grid-template-columns: 1fr;
      margin: auto;
      text-align: center;
    }
    &-buttonClass {
      display: flex;
      justify-content: center;
    }
    &-iconField {
      margin-top: 88px;
      justify-self: center;
    }
  }
}
