$scope: components-text-area;
//just an example class, tbd
.#{$scope} {
  border: 0;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  outline: none;
  resize: none;
  border-bottom: 1px solid #ccc;
  &-size {
    &-small {
      height: 14vh !important;
    }
    &-medium {
      height: 25vh !important;
    }
    &-large {
      height: 35vh !important;
    }
  }
}
