$scope: layouts-filter-clothes-modal-layout;
//just an example class, tbd
.#{$scope} {
  //define css styles here
  &-optionsArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  &-priceRangeClass {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &-colSpan {
    grid-column: 1 / 3;
  }
  &-buttonArea {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: space-around;
  }
}
