$scope: layouts-header-layout;
.#{$scope} {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;

  &-logo {
    display: flex;
    height: 100%;
    align-items: center;
  }
  &-navItems {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }
}
