$scope: layouts-header-layout;
.#{$scope} {
  display: grid;
  grid-template-columns: min-content 0.3fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". logo . navItems .";

  &-logo {
    display: flex;
    height: 100%;
    align-items: center;
    grid-area: logo;
  }
  &-navItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    grid-area: navItems;
  }
}
