$scope: layouts-header-layout;
.#{$scope} {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin-top: 24px;
  &-logo {
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 20 !important;
  }

  &-navItems {
    display: flex;
    flex-wrap: nowrap;
    justify-self: end;
    height: 100%;
    align-items: center;
    z-index: 20 !important;
  }
  &-lineClass {
    grid-column: 1 / 3;
  }
}

@media (max-width: 440px) {
  .#{$scope} {
  }
}
