$scope: layouts-show-clothes-details-layout;
//just an example class, tbd
.#{$scope} {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: repeat(11, min-content);
  gap: 0.5rem;
  padding-left: 24px;
  padding-right: 16px;
  align-items: center;
  white-space: nowrap;

  &-header {
    padding-top: 10px;
    padding-bottom: 20px;
    grid-column: 1;
    grid-row: 1;
    white-space: nowrap;
  }
  &-editBrandClass {
    margin-top: 24px;
    grid-column: 2;
    grid-row: 1;
  }
  &-likeIconClass {
    justify-self: start;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-start;
    margin-top: 32px;
  }

  &-imageAreaClass {
    margin-top: 32px;
    grid-column: 3;
    grid-row: 1 / 10;
  }

  &-imageAreaClass img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    user-select: none;
    border-radius: 12px;
  }

  &-descriptionTitle {
    align-self: flex-start;
  }
  &-descriptionArea {
    white-space: wrap !important;
    max-height: 26vh !important;
    overflow: auto;
  }

  &-buttonArea {
    display: flex;
    grid-column: 3;
    justify-content: space-between;
    margin: 1rem;
  }
  &-descriptionTitle {
    align-self: flex-start;
  }

  &-backButton {
    justify-self: start;
  }
  &-saveButton {
    display: flex;
    flex-wrap: nowrap;
  }
  &-line {
    grid-column-start: 1;

    grid-column-end: 3;
    margin-right: 20px;
  }
  &-marginBottom {
    margin-bottom: 24px;
  }
}

@media (max-width: 800px) {
  .#{$scope} {
    &-header {
      grid-column: 1 / 4;
      margin-top: 12px;
    }
    &-editBrandClass {
      margin-top: 12px;
      grid-column: 2;
      grid-row: 1;
    }
    &-imageAreaClass {
      margin-top: 0px;
      grid-column: 1 / 4;
      grid-row: 2 / 11;
    }

    &-colSpan {
      grid-column: 2 / 4;
    }
    &-line {
      grid-column: 1 / 4;
    }
  }
}
@media (max-width: 400px) {
  .#{$scope} {
    &-buttonArea {
      grid-column: 1 / 4;
      justify-content: center;
    }
  }
}
