$scope: layouts-show-clothes-details-layout;
//just an example class, tbd
.#{$scope} {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content min-content min-content;
  gap: 0.5rem;
  padding-left: 24px;
  padding-right: 16px;
  align-items: center;

  &-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-likeIconClass {
    justify-self: end;
    margin-right: 32px;
  }

  &-buttonArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 24px;
  }
  &-deleteButton {
    margin: 24px;
  }
  &-line {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
