$scope: layouts-clothes-image-upload-layout;
.#{$scope} {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  padding: 30px;

  &-previewImages {
  }
  &-previewImages img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    user-select: none;
    border-radius: 12px;
  }
  &-imageUploadAreaClass {
    grid-column: 1 / 3;
  }
  &-flexClass {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }
}
